*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: yellow;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    width: 100vw;
    padding: 60px;
    height: 520px;
}
.contenu h4{
     margin: 10px;
     padding: 10px;
     text-shadow: black;
     color: white;
     font-size: 20px;
}
.contenu button{
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    background-color:rgba(125, 5, 236, 0.849);
    color: white;
    width: 8vw;
}
.contenu{
    background-color: rgba(124, 5, 236, 0.932);
    height: 60vh;
    width: 70vh;
}
.contenu p{
    color: white;
    margin: 10px;
}
.right{
    background-color: white;
    height: 70vh;
    width: 50vw;
}
.right input{
    display: block;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    width: 48vw;
    cursor: pointer;
}
.right h4{
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: black;
    font-size: 20px;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.right button{
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 5, 236, 0.849);
    border-radius: 50px;
    width: 48vw;
    padding: 8x;
    margin: 30px;
    color: white;
    cursor: pointer;
}




